/* .form-control, .form-select{
  max-width: 300px;
}
 */
th {
  background-color: #f0b762 !important;
  border: 1px solid black !important;
  border-right: none;
}

th:last-child {
  border-right: 1px solid black !important;
}

.statistic-container {
  background-color: #f0b762;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 500px;
}


